arrow==0.6.0
asio==1.1
croniter==0.3.8
expiringdict==1.1.3
futures==3.0.3
ipaddress==1.0.14
itsdangerous==0.24
msgpack-python==0.4.6
pytz==2015.4
requests==2.5.1
six==1.9.0
tzlocal==1.2
websocket-client==0.11.0

https://bitbucket.org/fuzeman/ago/get/tip.zip#egg=ago
https://github.com/fuzeman/jsonpickle/archive/master.zip#egg=jsonpickle
https://github.com/fuzeman/Logr/archive/0.2.2.zip#egg=logr
https://github.com/fuzeman/peewee/archive/master.zip#egg=peewee
https://github.com/fuzeman/peewee_migrate/archive/develop.zip#egg=peewee_migrate
https://github.com/fuzeman/pyemitter/archive/develop.zip#egg=pyemitter
https://github.com/fuzeman/pypy-llist/archive/master.zip#egg=pyllist
https://github.com/fuzeman/raven-python/archive/master.zip#egg=raven
https://github.com/fuzeman/stash.py/archive/develop.zip#egg=stash

https://bitbucket.org/fuzeman/shove/get/pu.zip#egg=shove
https://bitbucket.org/fuzeman/stuf/get/default.zip#egg=stuf

https://github.com/fuzeman/plex.py/archive/develop.zip#egg=plex
https://github.com/fuzeman/plex.activity.py/archive/develop.zip#egg=plex_activity
https://github.com/fuzeman/plex.metadata.py/archive/develop.zip#egg=plex_metadata

https://github.com/fuzeman/trakt.py/archive/develop.zip#egg=trakt