<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string></string>
    <key>CFBundleIdentifier</key>
    <string>com.plexapp.plugins.trakttv</string>
    <key>PlexClientPlatforms</key>
    <string>*</string>
    <key>PlexFrameworkVersion</key>
    <string>2</string>
    <key>PlexPluginCodePolicy</key>
    <string>Elevated</string>
    <key>PlexPluginMode</key>
    <string>Daemon</string>
    <key>PlexPluginConsoleLogging</key>
    <string>0</string>
	<key>PlexPluginDebug</key>
    <string>1</string>
    <key>PlexPluginClass</key>
    <string>Resource</string>
    <key>CFBundlePackageType</key>
    <string>AAPL</string>
    <key>CFBundleSignature</key>
    <string>hook</string>
</dict>
</plist>
